/* Web fonts */
@import url(//fonts.googleapis.com/css?family=Roboto|Roboto+Slab);

/* page css */

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;

  width:  100%;
  height: 100%;
  height: 100vh;

  margin:  0;
  padding: 0.5em;
}

h1, h2, h3 {
  font-family: Roboto Slab, serif;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }

section, header {
  margin: inherit;
}

nav ul {
  list-style: none;
  padding: 0;
  font-weight: bold;
}

nav li {
  background: #eee;
}

nav a {
  display: block;
}

nav a, nav a:visited {
  color: #0e590e;
}

header, section#main_content {
  display: inline-block;
}

@media screen and (min-width: 45.1em) {
  header {
    width: 25%;
    min-width: 18em;
    height: 200px;
    position: fixed;
  }

  section#main_content {
    width: 75%;
    position: absolute;
    top: 0;
    left: 18em;
  }

  nav {
    margin-left: 1em;
  }

  nav li {
    position: relative;
    color: white;
    width: 200px;
    height: 25px;
    line-height: 25px;
    padding: 0.2em 0.2em 0.2em 20px;
    border-bottom: 1px solid white;
    margin-left: 0;

    transition: margin-left 1.2s;
  }

  nav li:hover {
    margin-left: 1.5em;
  }

  nav li:hover a {
    color: #32d953;
  }

  nav li:before, nav li:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;

  	border-top: 15px solid transparent;
  	border-bottom: 15px solid transparent;
  	border-left: 15px solid white;

    position: absolute;
    top: 0px;
  }

  nav li:before {
    left: 0px;
  }

  nav li:after {
    right: -15px;
    border-left-color: #eee;
  }

}

@media screen and (max-width: 45em) {
  a {
    padding: 0.2em;
  }

  header {
    width: 100%;
    height: 200px;
  }

  #logo {
    display: none;
  }

  section#main_content { width: 100%; }

  nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 80px;
    margin: auto;
  }

  nav li {
    display: inline-block;
    width: 8em;
    margin: 0.2em;
    padding: 0.2em 0.2em 0.4em 0.2em;
    text-align: center;
    box-sizing: border-box;
  }

  nav li:hover {
    padding-bottom: 0.2em;
    border-bottom: 0.2em solid #32d953;
  }
}