body {
    background-color: black;
    width:      100%;
    height:     100%;
    padding:    0;
    margin:     0;
    box-sizing: border-box;
}

a, a:visited {
    color: #0f0;
}

#terminal {
    font-family: 'VT323', cursive;
    color:       white;
    width:       100%; 
    height:      100%;
}

.input {
    height:         1em;
    min-width:      1em;
    outline-color:  black;
    border:         none;
    display:        inline-block;
}

#terminal p {
    margin:     0;
    padding:    0;
}

.hidden {
    display: none;
}